<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Copy Paste!!!</title>

    <style media="screen">
      body{
        padding: 20px;
      }

      #sectionCopyPasteArea{
        display: grid;
        grid-template-columns: 3fr 5fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "divInstructionsArea divTextArea divFilterArea"
        "divRadioButtonsArea divTextArea divFilterArea";
        grid-column-gap: 10px;
        margin-bottom: 20px;
      }

      #divInstructionsArea{
        grid-area: divInstructionsArea;
      }

      #divRadioButtonsArea{
        grid-area: divRadioButtonsArea;
      }

      #divTextArea{
        grid-area: divTextArea;
      }

      #divFilterArea{
        grid-Area: divFilterArea;
      }

      article{
        border-top: 2px solid black;
      }

      div[class*="media"]{
        margin: 20px;
      }

      img {
        max-width: 800px;
      }
    </style>

  </head>







  <body>
    <main id="container">
      <section id="sectionCopyPasteArea">
        <div id="divInstructionsArea">
          <h3>Instructions</h3>
          <ol>
            <li>Go to "preview".</li>
            <li>In the view option, select "raw".</li>
            <li>Copy the JSON formated text.</li>
            <li>Paste it at the textarea.</li>
            <li>Use the filters to filter through the results if needed.</li>
          </ol>
        </div>




        <!-- <div id="divRadioButtonsArea">
          <h3>Which task?</h3>
          <form id="formScarlettTasks" name="formScarlettTasks" @click="changeTypeOfPaste($event)">
            <input id="inputGenericCoupons" type="radio" name="inputCouponsSelect" value="genericCoupons">
            <label for="inputGenericCoupons">Manual Coupons</label> |

            <input id="inputLinkbaseCoupons" type="radio" name="inputCouponsSelect" value="linkbaseCoupons">
            <label for="inputLinkbaseCoupons">Linkbase coupons</label> <br>

            <input id="inputAirplaneTickets" type="radio" name="inputCouponsSelect" value="airplaneTickets">
            <label for="inputAirplaneTickets">Tickets</label> |

            <input id="inputInvoices" type="radio" name="inputCouponsSelect" value="invoices">
            <label for="inputInvoices">Invoices</label>
          </form>
        </div> -->




        <div id="divTextArea">
          <h3>Paste the JSON file</h3>
          <textarea
          name="textareaCoupons"
          id="textareaCoupons"
          rows="10" cols="80"
          placeholder="Paste JSON text here"
          v-model="startStr"
          v-once
          ></textarea>
        </div>




        <div id="divFilterArea">
          <h3>Filters</h3>
          <h6>RegEx source:</h6>
          <input type="text" name="" value=""
          v-model="regExSource"
          placeholder="Enter RegEx string"
          >

          <h6>RegEx flags:</h6>
          <template class="">
            <label for="inputRegExg" title="global: Don't return after first match">
              g: <input id="inputRegExg" type="checkbox" value="g" v-model="g">
            </label>
            <label for="inputRegExm" title="multi line: ^ and $ match start / end of line">
              m: <input id="inputRegExm" type="checkbox" value="m" v-model="m">
            </label>
            <label for="inputRegExi" title="insensitive: Case insensitive match">
              i: <input id="inputRegExi" type="checkbox" value="i" v-model="i">
            </label>
            <label for="inputRegExx" title="extended: ignore whitespace">
              x: <input id="inputRegExx" type="checkbox" value="x" v-model="x">
            </label>
            <label for="inputRegExX" title="extra: Disallow meaningless escapes">
              X: <input id="inputRegExX" type="checkbox" value="X" v-model="X">
            </label>
            <label for="inputRegExs" title="single line: Dot matches newline">
              s: <input id="inputRegExs" type="checkbox" value="s" v-model="s">
            </label>
            <label for="inputRegExu" title="unicode: Match with full unicode">
              u: <input id="inputRegExu" type="checkbox" value="u" v-model="u">
            </label>
            <label for="inputRegExU" title="ungreedy: Make quantifiers lazy">
              U: <input id="inputRegExU" type="checkbox" value="U" v-model="U">
            </label>
            <label for="inputRegExA" title="Anchored: Anchor to start of pattern">
              A: <input id="inputRegExA" type="checkbox" value="A" v-model="A">
            </label>
            <label for="inputRegExj" title="jchanged: Allow duplicate subpattern">
              j: <input id="inputRegExj" type="checkbox" value="j" v-model="j">
            </label>
            <label for="inputRegExD" title="Dollar end only: $ matches only end of pattern">
              D: <input id="inputRegExD" type="checkbox" value="D" v-model="D">
            </label>
          </template>
          <hr>

          <h6>Number of characters in description:</h6>
          Min: <input type="text" name="" value=""
          maxlength="4" size="4"
          v-model="minCharacters" placeholder="0">
          Max: <input type="text" name="" value=""
          maxlength="4" size="4"
          v-model="maxCharacters" placeholder="0">
          <hr>


        </div>
      </section>


      <section id="sectionDebugArea" style="display: none;">
        <h1>startStr</h1>
        <p style="white-space: pre">{{startStr}}</p>
        <h1>magic</h1>
        <p style="white-space: pre">{{magic}}</p>
      </section>



      <section id="sectionExtractionArea">
        <article
        class="media"
        v-for="(item, idx) in mainArray"
        v-show="(regExSource === '' || item.description.match(new RegExp(regExSource, regExFlags))) &&
        (minCharacters === '' || item.description.length >= minCharacters) &&
        (maxCharacters === '' || item.description.length <= maxCharacters)"
        >

          <div class="media-left media-middle">
            <a :href="item.url" target="_blank">
              <img class="media-object" :src="item.imageUrl" alt="No image pulled for this item">
            </a>
          </div>

          <div class="media-body">
            <h2>{{item.description}}</h2>
            <ul>
              <li>Currency and price: {{item.priceCurrency}} {{item.offerPrice}}</li>
              <li>Valid through: {{item.validThrough}}</li>
              <li>Original price: {{item.originalPrice}}</li>
              <li>Valid from: {{item.validFrom}}</li>
              <li>Organization: {{item.organization}}</li>
              <li>url: <a :href="item.url" :title="item.url">Link - Think before you click!</a></li>
            </ul>
          </div>

        </article>

      </section>





    </main>

  </body>









  <script>
  var app = new Vue({
    el: "#container",
    data: {
      startStr: "",
      typeOfPaste: "",
      regExSource: "",
      minCharacters: "",
      maxCharacters: "",
      g: "",
      m: "",
      i: "",
      x: "",
      X: "",
      s: "",
      u: "",
      U: "",
      A: "",
      j: "",
      D: "",
      mainArray: []
  }, //End of data
  methods:{
    changeTypeOfPaste: function(event) {  //this is for the radio buttons
      this.typeOfPaste = event.target.value;
    },
    matchString: function(event) {
      console.log(this.regExSource);
      this.regExSource = event.target.value;
      console.log(this.regExSource);
    }
  }, //End of methods
  computed: {
    regExFlags: function() {
      let flags = "gmixXsuUAjD";
      let flagStr = "";
      for (var i = 0; i < flags.length; i++) {
        if(this[flags[i]] === true) flagStr += flags[i]
      }
      return flagStr;
    },
    magic: function() {

      // 1. Clean up the mainArray where all the object elements will be pasted
      this.mainArray = [];



      //2. remove unecessary symbols and text
      var replacements = [
        {oldStr:/[\@\"\"\[\]\{\}]/g, newStr:""},
        {oldStr:/graph:\s+/, newStr:""},
        {oldStr:/id:\s_:[\w-]+,\s+/g, newStr:""},
        {oldStr:/type:\s[A-z}]+,\s+/g, newStr:""},
        {oldStr:/\s+,/g, newStr:","},
        // {oldStr:/image:\s+url:\s+value/g, newStr:"~~~imageUrl"},
        {oldStr:/image:\s+url(:\s+value)?/g, newStr:"~~~imageUrl"}, //This is for linkbase and generic. The above line only generic. You can remove it if both are working
        {oldStr:/url:\s+(value)?/g, newStr:"~~~url"}, //both generic and linkbased (value parameter is included in generic)
        {oldStr:/broker:\s+name/g, newStr:"SPLIT~~~organization"},
        {oldStr:/description/g, newStr:"~~~description"},
        {oldStr:/offerPrice:\s+value/g, newStr:"~~~offerPrice"},
        {oldStr:/originalPrice:\s+value/g, newStr:"~~~originalPrice"},
        {oldStr:/priceCurrency/g, newStr:"~~~priceCurrency"},
        {oldStr:/validFrom/g, newStr:"~~~validFrom"},
        {oldStr:/validThrough/g, newStr:"~~~validThrough"},
        {oldStr:/,\s+SPLIT~~~/g, newStr:"SPLIT~~~"},
        {oldStr:/,\s+~~~/g, newStr:"~~~"},
        {oldStr:/http:\/\/schema\.org\/([A-z]+)?,\s/g, newStr:""},
        {oldStr:/id:\s+container:\sset,?\s+/g, newStr:""},
        {oldStr:/\s+vocab:/g, newStr:""},
        {oldStr:/\s+graph:/g, newStr:""},
        {oldStr:/,\s+context:\s+identifier:\s+contactPoint:\s+category:\s+sameAs:/g, newStr:""},
      ];


      for(var el of replacements){
        this.startStr = this.startStr.replace(el.oldStr, el.newStr);
      }

      this.startStr = this.startStr.trim();


      // 4. Create an array from the existing string. Remove first element
      this.startStr = this.startStr.slice(0, this.startStr.length-1).split("SPLIT");
      if(this.startStr[0] === "") this.startStr.shift();




      //5. Evaluate the text of each element. Slice the text wherever needed and
      // create an object that will be pushed to the mainArray.
      var self = this;
      this.startStr.forEach(function(el) {


        //Create new object with all the expected keys for rendering in the page.
        var newObj = {
          organization: "",
          description: "",
          imageUrl: "",
          url: "",
          offerPrice: "",
          originalPrice: "",
          priceCurrency: "",
          validFrom: "",
          validThrough: ""
        }

        //Find the match of the key inside the element and slice
        for(var key in newObj){
          if (el.indexOf(key) !== -1) {
            newObj[key] = el.slice(el.indexOf(key));
            newObj[key] = newObj[key]
            .replace(/~~~.*/,"")
            .replace([key]+": ", "")
            .trim();
            if (newObj[key][newObj[key].length - 1] === ",") newObj[key].slice(0, newObj[key].length - 2);
          }
        }

        self.mainArray.push(newObj);

      });

      return this.mainArray;


    } //End of magic function
  } //end of computed properties
});

  </script>

</html>
