<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="./vue.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">  <style media="screen">
  body {
    padding: 15px;
  }
  </style>

  <title>005 - Conditional Rendering - Vue website tutorial</title>
</head>
<body>

  <a href="https://vuejs.org/v2/guide/conditional.html"><h3>Source</h3></a>

  <h1>5 - Conditional Rendering</h1>

  <h2>v-if</h2>
  <div id="conditional">
    <p>
      An If - else statement can be used as a Vue directive, same as <code>v-bind</code>
      directive is used for adding attributes in the html code.
      <code>v-if</code>, <code>v-else-if</code> and a <code>v-else</code> directives can
      be used to render different parts of html based on if conditions are satisfied
      or not.
    </p>
    <p>
      In order for the <code>v-else-if</code> and the <code>v-else</code> conditions
      to work properly, they need to be directly following the tag that has the
      <code>v-if</code> condition, otherwise it will not work.
    </p>
    <div class="jumbotron">
      <h4>Example</h4>
      <p>
        The following example renders different div tags based on if a condition is
        met or not. This condition has been set with a random number that either displays
        the div tag either it displays its alternative. Refresh the page a couple of times to
        see how there can be a toggle between the one and the other tag.
      </p>
      <code>

          &lt;div v-if="Math.random() > 0.5"&gt;
            Now you see me
          &lt;/div&gt;
          &lt;div v-else&gt;
            Now you don't
          &lt;/div&gt;

      </code>
      <div v-if="Math.random() > 0.5">
        Now you see me
      </div>
      <div v-else>
        Now you don't
      </div>
    </div>
  </div>

  <script>
  var conditional = new Vue ({
    el: "#conditional"
  });
  </script>




  <h3>Conditional groups with <code>v-if</code> and <code>template</code> </h3>
  <div id="conditional2">
    <p>
      In the event that we want to use the same condition for the rendering of more
      than one elements in the html document, we can wrap the elements inside a
      <code>template</code> tag that can serve as the tag where the <code>v-if</code>
      condition will reside. Likewise, we can have a <code>v-else-if</code> and a
      <code>v-else</code> condition wrapped inside a different <code>template</code>.
    </p>

    <div class="jumbotron">
      <h4>Example</h4>
      <p>Click on the following buttoms to see different elements rendering in the page</p>
      <template id="conditional2a" v-if="ifTrue">
        <h5>Hello, I am rendering when if is true. I am within the 1st template</h5>
        <p>And I am the paragraph that also renders with the <code>v-if</code> </p>
      </template>
      <template id="conditional2b" v-else-if="elseIfTrue">
        <h5 style="color: green;">Hello, I am rendering when the else if is true.
          I am within the 2nd template</h5>
        <p>And I am the paragraph that also renders with the <code>v-else-if</code> </p>
      </template>
      <template id="conditional2c" v-else>
        <h5 style="color: blue">I am rendering when  none of the <code>if</code> and
          <code>elseif</code> conditions is true. I am in the 3rd template</h5>
        <p>And I am the paragraph that also renders with the <code>v-else</code> </p>
      </template>
      <button type="button" v-on:click="ifTrue = true">Activate <code>v-if</code> </button>
      <button type="button" v-on:click="(elseIfTrue = true, ifTrue = false)">Activate <code>v-else-if</code></button>
      <button type="button" name="button" v-on:click="(elseIfTrue = false, ifTrue = false)">Activate <code>v-else</code></button>
    </div>
  </div>

  <script>
    var conditional2 = new Vue({
      el: "#conditional2",
      data: {
        ifTrue: true,
        elseIfTrue: false
      }
    });
  </script>





  <h3>Controlling Reusable Elements with the <code>key</code> attribute</h3>
  <div id="conditional3">
    <p>
      Instead of creating new elements, Vue is generally trying to re-use them in order
      to accomplish faster usability and interactivity. This is important to keep in
      mind because when there is some user input involved, we have to make sure that
      we are not discarding this input when Vue updates the existing tags.
    </p>
    <p>
      For example, this can be accomplished when we provide a unique <code>key</code>
      attribute to each one of the <code>input</code> tags in order to make sure that the
      input of the user is saved and not discarded when the element updates.
    </p>
    <div class="jumbotron">
      <h4>Example</h4>
      <p>
        The <code>key</code> attribute in the <code>input</code> tag is the one
        that defines that the <code>input</code> tags are separate from each other
        when the <code>v-if</code>, <code>v-else</code> directives are switching the
        content.
      </p>
      <code>

    &lt;template v-if="loginType === 'username'"&gt;
      &lt;label&gt;Username&lt;/label&gt;
      &lt;input type="text" placeholder="Enter your username" key="username-input"&gt;
    &lt;/template&gt;
    &lt;template v-else&gt;
      &lt;label&gt;Email&lt;/label&gt;
      &lt;input type="text" placeholder="Enter your email address" key="email-input"&gt;
    &lt;/template&gt;&lt;br&gt;
    &lt;button type="button" v-on:click="toggleInputs()"&gt;Switch between username and email&lt;/button&gt;

      </code>
      <template v-if="loginType === 'username'">
        <label>Username</label>
        <input type="text" placeholder="Enter your username" key="username-input">
      </template>
      <template v-else>
        <label>Email</label>
        <input type="text" placeholder="Enter your email address" key="email-input">
      </template><br>
      <button type="button" id="toggleInputs" v-on:click="toggleInputs()">Switch between username and email</button>
    </div>
  </div>


  <script>
  var conditional3 = new Vue ({
    el: "#conditional3",
    data: {
      loginType: "username",
      divVShow: true
    },
    methods: {
      toggleInputs() {
        this.loginType === "username" ? this.loginType = "email" : this.loginType = "username";
      },
      vSnowActivation() {
        console.log("fired");
        divVShow = !divVShow;
      }
    }
  })
  </script>





  <h2>v-show</h2>
  <div id="conditional4">
    <p>Another option for conditionally displaying an element is the <code>v-show</code>
      directive. The usage is largely the same. The difference is that an element
      with <code>v-show</code> will always be rendered and remain in the DOM;
      <code>v-show</code> simply toggles the display CSS property of the element.</p>
      <p>
        Note that v-show doesn’t support the <code>template</code> syntax, nor
        does it work with <code>v-else</code></p>
      </p>
      <div class="jumbotron">
        <h4>Example</h4>
        <div style="color: blue;" v-show="divVShow">
          Click the button to hide me. Look in the browser console. When you hide
          me, you will see that I am still in the DOM but I am hidden since the
          <code>style:"display: none;""</code> is activated.
        </div>
        <button type="button" v-on:click="divVShow = !divVShow">Hide/ show the tag</button>
      </div>

  </div>


    <script>
    var conditional4 = new Vue ({
      el: "#conditional4",
      data: {
        divVShow: true
      }
    });
    </script>



    <h2>Differences between <code>v-if</code> and <code>v-show</code> </h2>
    <p>
      <code>v-if</code> is a real conditional because it creates the event listeners
      and the child components are created only if the condition is true. If the
      condition is false, then the components are never created or they are destroyed
      after their initial creation.
    </p>
    <p>
      On the other hand, <code>v-show</code> is always rendered but the CSS condition
      <code>display</code> is the one that gets updated. So the <code>v-show</code>
      rendering is CSS based while <code>v-if</code> is purely conditional.
    </p>
    <p>
      If there is going to be a frequent toggling process, then <code>v-show</code>
      is preferred because it has high initial render cost but a low toggling cost.
      <code>v-if</code> should be prefered when the condition is more unlikely to
      change in runtime.
    </p>




  <a href="./004-class_and_style_bindings.html">Previous - Class and Style Bindings</a> <a href="./006-list_rendering.html">Next - List rendering</a>
</body>
</html>
