<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="./vue.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">

  <title>008 - Form Input and Bindings - Vue website tutorial</title>
</head>
<body>

  <a href="https://vuejs.org/v2/guide/forms.html"><h3>Source</h3></a>

  <h1>8 - Form Input and Bindings</h1>
  <div class="textDiv">

</div>


<a href="./006-list_rendering.html">Previous - List Rendering</a> <a href="./008-form_input_bindings.html">Next - Form Input Bindings</a>

</body>
</html>












  <p>You can also use of as the delimiter instead of in, so that it is closer to JavaScript’s syntax for iterators</p>



  <h3>Template <code>v-for</code></h3>
  <p>Similar to template v-if, you can also use a <code>template</code> tag with v-for to render a block of multiple elements.</p>



  <h3>Object <code>v-for</code></h3>
  <p>You can also use v-for to iterate through the properties of an object.task
  You can provide three arguments:</p>
  <ul>
    <li>value</li>
    <li>key</li>
    <li>index</li>
  </ul>
  <p>When iterating over an object, the order is based on the key enumeration order of Object.keys(),
    which is not guaranteed to be consistent across JavaScript engine implementations.</p>


  <div class="">
    <ul id="repeat-object">
      <li v-for="(value, key, index) in object">
        {{key}}: {{value}} - {{index}}
      </li>
    </ul>
  </div>

  <script type="text/javascript">
  var repeatObject = new Vue ({
    el: "#repeat-object",
    data: {
      object: {
        firstName: "John",
        lastName: "Doe",
        age: 30
      }
    }
  });
  </script>



  <h3>Range <code>v-for</code></h3>
  <p><code>v-for</code> can also take an integer. In this case, it will repeat the template that many times.</p>

  <div id="rangeVFor">
    <span v-for="n in 10">{{n}}</span>
  </div>

  <script type="text/javascript">
  var rangeVFor = new Vue({
    el: "#rangeVFor"
  });
  </script>



  <h3>Components and <code>v-for</code></h3>
  <p>You can directly use v-for on a custom component, like any normal element task
  However, this won’t automatically pass any data to the component, task
  because components have isolated scopes of their own. task
  In order to pass the iterated data into the component, we should also use props</p>

  <div id="to-do-list-example">
    <input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo">
    <ul>
      <li is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:key="todo"
      v-bind:title="todo"
      v-on:remove="todos.splice(index, 1)"></li>
    </ul>
  </div>

  <script type="text/javascript">
    Vue.component("todo-item", {
      template: `<li>
        {{title}}
        <button v-on:click="$emit('remove')">X</button>
      </li>`,
      props: ["title"]
    });

    new Vue({
      el: "#to-do-list-example",
      data: {
        newTodoText: "",
        todos: [
          "Do the disches",
          "Take out the trash",
          "Mow the lawn"
        ]
      },
      methods: {
        addNewTodo: function() {
          this.todos.push(this.newTodoText);
          this.newTodoText =  ''
        }
      }
    })
  </script>

  <h3><code>v-for</code> with <code>v-if</code></h3>
  <p>When they exist on the same node, <code>v-for</code> has a higher priority than <code>v-if</code>.
    That means the <code>v-if</code> will be run on each iteration of the loop separately.
    This is very useful when you want to render nodes for only some items.</p>



  <h2>key</h2>
  <p>When Vue is updating a list of elements rendered with v-for, it by default uses
    an “in-place patch” strategy. If the order of the data items has changed,
    instead of moving the DOM elements to match the order of the items,
    Vue will simply patch each element in-place and make sure it reflects what
    should be rendered at that particular index.
    This is similar to the behavior of track-by="$index" in Vue 1.x.</p>

  <p><b>
    This default mode is efficient,
    but only suitable when your list render output does not rely on child component
    state or temporary DOM state (e.g. form input values).
  </b></p>

  <p>
    To give Vue a hint so that it can track each node’s identity,
    and thus reuse and reorder existing elements,
    you need to provide a unique key attribute for each item.
    An ideal value for key would be the unique id of each item.
    This special attribute is a rough equivalent to track-by in 1.x,
    but it works like an attribute,
    so you need to use v-bind to bind it to dynamic values
  </p>



  <h3>Mutation methods</h3>
  <p>
    Vue wraps an observed array’s mutation methods so they will also trigger view updates. The wrapped methods are:
  </p>
  <code>
    <ul>
      <li>push()</li>
      <li>pop()</li>
      <li>push()</li>
      <li>shift()</li>
      <li>sort()</li>
      <li>reverse</li>
    </ul>
  </code>
  <p>
    You can open the console and play with the previous examples’ items array
    by calling their mutation methods. For example: <code>example1.items.push({ message: 'Baz' })</code>.

  </p>


<!--
  <h3>Caveats</h3>
  <p>
    Due to limitations in JavaScript, Vue cannot detect the following changes to an array:
  </p>
  <ol>
    <li>
      When you directly set an item with the index, e.g. vm.items[indexOfItem] = newValue
    </li>
    <li>
      When you modify the length of the array, e.g. vm.items.length = newLength
    </li>
  </ol>
  <p>
    To overcome caveat 1, both of the following will accomplish the same as
    <code>vm.items[indexOfItem] = newValue</code>, but will also trigger state updates in the reactivity system:
  </p>
<h5>// Vue.set</h5>
<code>Vue.set(example1.items, indexOfItem, newValue)</code>
<h5>// Array.prototype.splice</h5>
<code>example1.items.splice(indexOfItem, 1, newValue)</code>
<p>
  To deal with caveat 2, you can also use <code>splice</code>:
</p>
<code>
  example1.items.splice(newLength)
</code>



<h2>Displaying Filtered/Sorted Results</h2>
<p>
  Sometimes we want to display a filtered or sorted version of an array
  without actually mutating or resetting the original data.
  In this case, you can create a <b>computed</b> property that returns the filtered or sorted array.
</p>
<p>
  In situations where computed properties are not feasible (e.g. inside nested <code>v-for</code> loops), you can just use a <b>method</b>.
</p>
</div>
 -->
