<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="./vue.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">

  <title>009 - Components Basics - Vue website tutorial</title>

  <style media="screen">
    .buttonsSelects {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }

    .divBtnSlctUnt{
      display: block;
      padding: 10px;
    }

    .componentTabs{
      border: 1px solid gray;
      background-color: white;
    }

    .buttonComponentTab{
      background-color: black;
      color: white;
      width: 150px;
      margin-right: -10px;
    }

    .buttonComponentTab:hover{
      cursor: pointer;
      background-color: gray;
    }

    .buttonComponentTab:focus{
      background-color: white;
      color: black;
    }

    #divJavaScript{
      background-color: #ffff99;
    }

    #divVue{
      background-color: #00cc00;
    }

    #divjQuery{
      background-color: #b3b3b3;
    }
  </style>
</head>
<body>

  <a href="https://vuejs.org/v2/guide/components.html"><h3>Source</h3></a>

  <h1>9 - Components Basics</h1>
  <div id="componentBasics1">
    <h2>Components are reusable</h2>
    <p>
      Components are reusable Vue instances with a name.
    </p>
    <div class="jumbotron">
      <h4>Example</h4>
      <p>
        In the following example, two different buttons are created. They both feed
        from the same component. The data in the components do not conflict with one
        another since the component is reusable and therefore it represents a different
        Vue instance.
      </p>
      <button-counter></button-counter> <br>
      <button-counter></button-counter>
      <code>
        Vue.component(&quot;button-counter&quot;, {
          data() {
            return {
              counter: 0
            }
          },
          template: &quot;&lt;button v-on:click=&apos;counter++&apos;&gt;I was clicked { {counter} } times&lt;/button&gt;&quot;
        });
      </code>
    </div>
    <h2>Components characteristics</h2>
    <p>
      As mentioned above, the components are reusable Vue instances. Same like all
      the instances, they accept the same properties like the <code>new Vue();</code>
      instance. Therefore, the components can have <code>data</code>, <code>methods</code>,
      <code>watch</code>, <code>computed</code>.
    </p>
    <p>
      On the other hand, the components do not need an <code>el</code> property.
    </p>
    <h3><code>data</code> should be a function</h3>
    <p>
      Contrary to the <code>new Vue</code> instance, the <code>data</code> property
      in the components should always be a function. That is because the components
      are reusable and therefore, the function is needed to return an independent copy
      of the <code>data</code> object.
    </p>
    <div class="jumbotron">
      <h4>Example</h4>
      <p>
        As you see in the following example, when clicking one of the buttons, both
        of them have their value updated. That is because they are both feeding from
        the same <code>data</code> property in the <code>new Vue</code> instance.
        So contrary to the example above where the <code>Vue.component</code> allows
        for the <code>data</code> properties values to be different (through the
        returned function), the <code>new Vue</code> instance is feeding both of
        the buttons from only one <code>data</code> property and therefore the
        value rendered for both buttons is the same.
      </p>
      <button v-on:click="counter++">You clicked me {{counter}} times</button>
      <button v-on:click="counter++">You clicked me {{counter}} times</button>
      <code>
        &lt;button v-on:click=&apos;counter++&apos;&gt;You clicked me {{counter}} times&lt;/button&gt;
        &lt;button v-on:click=&apos;counter++&apos;&gt;You clicked me {{counter}} times&lt;/button&gt;
      </code>
    </div>
  </div>

  <script>
    Vue.component("button-counter", {
      data() {
        return {
          counter: 0
        }
      },
      template: "<button v-on:click='counter++'>You clicked me {{counter}} times</button>"
    });


    var componentBasics1 = new Vue({
      el: "#componentBasics1",
      data: {
        counter: 0
      }
    });
  </script>




<div id="componentBasics2">
  <h2>Organizing components</h2>
  <p>
    The components can be
    used in a tree format to represent different parts of the web page like the
    heading of the page, the nav tag, different sections, differentm articles, the
    footer et cetera.
  </p>
  <p>
    Components can either be organized locally or globally. Globaly registered
    components (<code>Vue.component</code>) can be used by the root Vue instance,
    which is <b>created afterwards</b>. Also the components can be used inside all
    the sub-components of the Vue instance's component tree.
  </p>


  <h2>Passing data to child components with props</h2>
  <p>
    Props are custom attributes that can be passed to a component. For example,
    same like in an <code>input</code> tag we have attributes like <code>type</code>
    or <code>name</code>, we can create custom attributes to the Vue component in
    order to bind different types of data that come from the root Vue instance
    (<code>new Vue</code>).
  </p>
  <p>
    When a value is passed into the prop attribute, it becomes a property of that
    component instance. As mentioned in the above paragraph, we can pass different
    props values (in the format of an array) who in their turn can pull different
    data from the root Vue istance.
  </p>
  <div class="jumbotron">
    <h4>Example</h4>
    <p>
      REMEMBER: The props represent the properties in the array you want to
      render, not the array itself. So if you have an array <code>history</code> with
      elements <code>{id:1, title: "some title", content: "some content"}</code> then
      the props you should use are <code>title</code> and <code>content</code>.
    </p>
    <p>
      In the following example, there is a <code>v-for</code> itteration through
      one of the <code>data</code> properties and the <code>props</code> are
      binded with each one of the properties in the element objects.
    </p>
      <battles
      v-for="battle in history"
      v-bind:key="battle.id"
      v-bind:title="battle.title"
      v-bind:fact="battle.fact"
      >
      </battles>


      <h6>html code</h6>
      <code>
        &lt;battles
        v-for=&quot;battle in history&quot;
        v-bind:key=&quot;battle.id&quot;
        v-bind:title=&quot;battle.title&quot;
        v-bind:fact=&quot;battle.fact&quot;
        &gt;
        &lt;/battles&gt;
      </code>
      <h6>Vue code</h6>
      <code>
        Vue.component(&quot;battles&quot;, {
          props: [&quot;title&quot;, &quot;fact&quot;],
          template: &grave;
          &lt;div&gt;
          &lt;h3&gt;Battle: { {title} }&lt;/h3&gt;
          &lt;p&gt;&lt;i&gt;{ {fact} }&lt;/i&gt;&lt;/p&gt;
          &lt;/div&gt;
          &grave;
        });
      </code>
  </div>
</div>


<script>

  Vue.component("battles", {
    props: ["title", "fact"],
    template: `
    <div>
      <h3>Battle: {{title}}</h3>
      <p><i>{{fact}}</i></p>
    </div>
    `
  });

  var componentBasics2 = new Vue({
    el: "#componentBasics2",
    data: {
      history: [
        {id: 1, title: "Marathon", fact: "The Battle of Marathon took place in 490 BC, during the first Persian invasion of Greece. It was fought between the citizens of Athens, aided by Plataea, and a Persian force commanded by Datis and Artaphernes. The battle was the culmination of the first attempt by Persia, under King Darius I, to subjugate Greece."},
        {id: 2, title: "Thermopylae", fact: "The Battle of Thermopylae was fought between an alliance of Greek city-states, led by King Leonidas of Sparta, and the Persian Empire of Xerxes I over the course of three days, during the second Persian invasion of Greece."},
        {id: 3, title: "Salamis", fact: "The Battle of Salamis was a naval battle fought between an alliance of Greek city-states under Themistocles and the Persian Empire under King Xerxes in 480 BC which resulted in a decisive victory for the outnumbered Greeks."},
        {id: 4, title: "Plataea", fact: "The Battle of Plataea was the final land battle during the second Persian invasion of Greece. It took place in 479 BC near the city of Plataea in Boeotia, and was fought between an alliance of the Greek city-states, and the Persian Empire of Xerxes I."},
      ]
    }
  });
</script>





<div id="componentBasics3">
  <h2>Single Root element and Single prop</h2>
  <p>
    In the above example, you can see that the component's tempate has an <code>h3</code>
    and a <code>p</code> tag that are wrapped inside a <code>div</code> tag.
    That is because the component is expecting only <b>one root element</b>. If
    you do not do that, then an error will be thrown by Vue. In order to avoid this,
    you should wrap all the different html nodes within one single node in order to
    avoid the error.
  </p>
  <h3>Managin multiple props</h3>
  <p>
    There could be cases where the data object that is connected to the component has
    a lot different props to be matched with different properties. That can result in
    a chaotic and tedious work since each one of the props would have to be matched with
    the related element's object's property. in order to avoid that, we can create
    one prop only that is binded to each one of the elements of the array and then
    call each one of array's element's object property directly in the template.
  </p>
  <div class="jumbotron">
    <h4>Example</h4>
    <p>
      In the following example, the component's prop "battle" is binded with each one
      of the elements of the array that the data are being pulled from. Therefore,
      there is no need for each one of the properties of the element to be binded
      individually. The advantage is that in the event a new property is added to each
      one of the elements of the array where the data are being pulled from, there will
      not be a need for binding it since the whole element is binded already.
    </p>
    <greco-persian
    v-for="battle in history"
    :key="battle.id"
    :battle="battle"
    >
    </greco-persian>
    <h6>html code</h6>
    <code>
      &lt;greco-persian
      v-for=&quot;battle in history&quot;
      :key=&quot;battle.id&quot;
      :battle=&quot;battle&quot;
      &gt;
      &lt;/greco-persian&gt;
    </code>
    <h6>Vue code</h6>
    <code>
      Vue.component(&quot;greco-persian&quot;, {
        props: [&quot;battle&quot;],
        template: &grave;
        &lt;div&gt;
        &lt;hr&gt;
        &lt;img :src=&quot;battle.imageUrl&quot; style=&quot;width: 250px; float: right;&quot;/&gt;
        &lt;h3&gt;Battle { {battle.title} }&lt;/h3&gt;
        &lt;p&gt;{ {battle.fact} }&lt;/p&gt;
        &lt;h6&gt;Greek Force: { {battle.armyGr} }&lt;/h6&gt;
        &lt;h6&gt;Persian Force: { {battle.armyPr} }&lt;/h6&gt;
        &lt;h6&gt;Outcome: { {battle.outcome} }&lt;/h6&gt;
        &lt;/div&gt;
        &grave;
      });
    </code>
  </div>
</div>



<script>
  Vue.component("greco-persian", {
    props: ["battle"],
    template: `
      <div style="margin-bottom:30px;">
        <hr>
        <img :src="battle.imageUrl" style="width: 250px; float: right; padding: 10px;"/>
        <h3>Battle {{battle.title}}</h3>
        <p>{{battle.fact}}</p>
        <h6>Greek Force: {{battle.armyGr}}</h6>
        <h6>Persian Force: {{battle.armyPr}}</h6>
        <h6>Outcome: {{battle.outcome}}</h6>
      </div>
    `
  });

  var componentBasics3 = new Vue({
    el: "#componentBasics3",
    data: {
      history: [
        {
          id: 1,
          title: "Marathon",
          fact: "The Battle of Marathon took place in 490 BC, during the first Persian invasion of Greece. It was fought between the citizens of Athens, aided by Plataea, and a Persian force commanded by Datis and Artaphernes. The battle was the culmination of the first attempt by Persia, under King Darius I, to subjugate Greece.",
          armyGr: 11000,
          armyPr: 126000,
          outcome: "Greek victory",
          imageUrl: "https://upload.wikimedia.org/wikipedia/commons/4/42/Battle_of_Marathon_Initial_Situation.png"
        },
        {
          id: 2,
          title: "Thermopylae",
          fact: "The Battle of Thermopylae (/θərˈmɒpɪliː/ thər-MOP-i-lee; Greek: Μάχη τῶν Θερμοπυλῶν, Máchē tōn Thermopylōn) was fought between an alliance of Greek city-states, led by King Leonidas of Sparta, and the Persian Empire of Xerxes I over the course of three days, during the second Persian invasion of Greece. It took place simultaneously with the naval battle at Artemisium, in August or September 480 BC, at the narrow coastal pass of Thermopylae ('The Hot Gates'). The Persian invasion was a delayed response to the defeat of the first Persian invasion of Greece, which had been ended by the Athenian victory at the Battle of Marathon in 490 BC. By 480 BC Xerxes had amassed a huge army and navy, and set out to conquer all of Greece. The Athenian politician and general Themistocles had proposed that the allied Greeks block the advance of the Persian army at the pass of Thermopylae, and simultaneously block the Persian navy at the Straits of Artemisium.",
          armyGr: 7000,
          armyPr: 150000,
          outcome: "Persian victory",
          imageUrl: "https://upload.wikimedia.org/wikipedia/commons/e/ec/Thermopylae_map_480bc.png"
        },
        {
          id: 3,
          title: "Salamis",
          fact: "The Battle of Salamis was a naval battle fought between an alliance of Greek city-states under Themistocles and the Persian Empire under King Xerxes in 480 BC which resulted in a decisive victory for the outnumbered Greeks. The battle was fought in the straits between the mainland and Salamis, an island in the Saronic Gulf near Athens, and marked the high-point of the second Persian invasion of Greece.",
          armyGr: 371,
          armyPr: 700,
          outcome: "Greek victory",
          imageUrl: "https://upload.wikimedia.org/wikipedia/commons/2/2e/Battle_of_salamis.png"
        },
        {
          id: 4,
          title: "Plataea",
          fact: "The Battle of Plataea was the final land battle during the second Persian invasion of Greece. It took place in 479 BC near the city of Plataea in Boeotia, and was fought between an alliance of the Greek city-states, and the Persian Empire of Xerxes I.",
          armyGr: 80000,
          armyPr: 120000,
          outcome: "Greek victory",
          imageUrl: "https://upload.wikimedia.org/wikipedia/commons/e/e1/Battle_of_Plataea_part_2.PNG"
        },
      ]
    }
  });
</script>



<div id="componentBasics4">
  <h2>Sending messages to the root Vue with events</h2>
  <p>
    Vue components have a way to communicate to the parent Vue instance through
    the <code>$emit</code> built-in method. Hence, we can pass data to the root Vue
    instance and accomplish a bi-directional communication.
  </p>
  <p>
    We can connect the <code>$emit</code> function with:
    <ul>
      <li>a data property in the root Vue instance or</li>
      <li>a function in the methods property of the root Vue instance</li>
    </ul>
     Also we can use the <code>$event</code> and other parameters to pass particular
     values to the connected function. The extra parameters are passed following
     the name of the event. For example:
     <code>$emit('some-event-name', parameter, parameter)</code>.
  </p>
  <h3><code>v-model</code> in components</h3>
  <p>
    In general, <code>v-model</code> is syntactical sugar. What <code>v-model</code>
    does is that it
    <ul>
      <li>binds a data property to the related tag</li>
      <li>It changes the value of the data property based on the defined event (keydown mostly)</li>
    </ul>
    For example, the code:
    <code>&lt;input type=&quot;text&quot; v-model=&quot;someProperty&quot;&gt;</code>
    can also be entered like:
    <code>&lt;input type=&quot;text&quot; :value=&quot;someProperty&quot; @keyup=&quot;SomeProperty = &quot;$event.target.value&quot;&gt;</code>.
  </p>
  <p>
    In the case of a component, we do not use the <code>v-model</code> directive but
    we rather:
    <ul>
      <li>
        We need to bind the <code>value</code> attribute of the related tag to a
        <code>prop</code> in the component.
      </li>
      <li>
        Create a <code>v-on</code> directive that triggers an <code>$emmit</code>
        function. As parameters in the <code>$emit</code> function, we pass the
        custom name the <code>v-on</code> is binded with, and the <code>$event.target.value</code>
      </li>
    </ul>
    <code>
      Vue.component(&apos;custom-input&apos;, {
        props: [&apos;value&apos;],
        template: &grave;
          &lt;input
            v-bind:value=&quot;value&quot;
            v-on:input=&quot;$emit(&apos;input&apos;, $event.target.value)&quot;
          &gt;
        &grave;
      });
    </code>
  </p>
  <div class="jumbotron">
    <h4>Example</h4>
    <p>
      In the following example, the Vue component is wrapped in an extra div tag.
      This div tag's style is binded to the root Vue component. Therefore, the fonts
      are displayed based on the initial values. You can use the attached buttons
      to see how the font style changes. The changes are done through the <code>$emit</code>
      built in function that resides in the attached Vue component's buttons.
    </p>
    <p>
      The buttons are working by binding the name of the parameter in the <code>$emit</code>
     function with the related <b>property</b> that resides in the <code>data</code>
     property in the root Vue instance. The <code>select</code> opitions are working
     by binding the name of the parameter in the <code>$emit</code> function with
     the related <b>method</b> that resides in the root Vue instance.
    </p>
    <h5>Doing it directly to the root Vue Instance</h5>
    <p>
      The following buttons and select options are changing the font characteristics
      of the data directly through @click events or v-models. Nothing is happening at
      the constructor level.
    </p>

    <div class="buttonsSelects">
      <div class="divBtnSlctUnt">
        <h6>Modify font size - {{articleFonts.fontSize}}{{measuringUnit}}</h6>
        <button type="button" name="button" @click="articleFonts.fontSize++">+</button>
        <button type="button" name="button" @click="articleFonts.fontSize--">-</button>
        <select class="" name="" v-model="measuringUnit">
          <option value="px">px</option>
          <option value="em">em</option>
          <option value="cm">cm</option>
          <option value="vh">vh</option>
          <option value="vw">vw</option>
        </select>
      </div>

      <div class="divBtnSlctUnt">
        <h6>Modify font family</h6>
        <select class="" name="" v-model="articleFonts.fontFamily">
          <option value="Arial">Arial</option>
          <option value="Verdana">Verdana</option>
          <option value="Tahoma">Tahoma</option>
          <option value="Times New Roman">Times New Roman</option>
          <option value="Serif">Serif</option>
        </select>
      </div>

      <div class="divBtnSlctUnt">
        <h6>Modify font style</h6>
        <select class="" name="" v-model="articleFonts.fontStyle">
          <option value="normal">normal</option>
          <option value="italic">italic</option>
          <option value="oblique">oblique</option>
          <option value="initial">initial</option>
        </select>
      </div>

      <div class="divBtnSlctUnt">
        <h6>Modify font weight</h6>
        <select class="" name="" v-model="articleFonts.fontWeight">
          <option value="normal">normal</option>
          <option value="bold">bold</option>
          <option value="bolder">bolder</option>
          <option value="lighter">lighter</option>
        </select>
      </div>

      <div class="divBtnSlctUnt">
        <h6>Modify font color</h6>
        <select class="" name="" v-model="articleFonts.color">
          <option value="black">black</option>
          <option value="brown">brown</option>
          <option value="green">green</option>
          <option value="red">red</option>
          <option value="yellow">yellow</option>
          <option value="blue">blue</option>
        </select>
      </div>
    </div>


    <h5>Doing it through <code>$emit</code> inside the Vue component</h5>
    <p>
      The buttons and the select options that are inside each one of the articles
      are doing the changes through the <code>$emit</code> built in function. Observe
      in the code that the name of the arguments passed in <code>$emit</code> are
      typed in snake casing. If you do it in camelBack, then Vue will complain.
    </p>
    <div :style="{
      fontStyle: articleFonts.fontStyle,
      fontSize: articleFonts.fontSize + measuringUnit,
      fontFamily: articleFonts.fontFamily,
      fontWeight: articleFonts.fontWeight,
      color: articleFonts.color
    }">

      <hellas-persia v-for="battle in history"
      :key="battle.id"
      :battle="battle"
      :spanvalue="articleFonts.fontSize"
      :measuringunit="measuringUnit"
      @enlarge-text="articleFonts.fontSize++"
      @decrease-text="articleFonts.fontSize--"
      @font-family="fontFamily()"
      @font-style="fontStyle()"
      @color="color()"
      @font-weight="fontWeight()"
      @measuring-unit="measureUnit()"
      >
      </hellas-persia>
    </div>
    <h6>html code</h6>
    <code>
      &lt;div :style=&quot;{
        fontStyle: articleFonts.fontStyle,
        fontSize: articleFonts.fontSize + measuringUnit,
        fontFamily: articleFonts.fontFamily,
        fontWeight: articleFonts.fontWeight,
        color: articleFonts.color
      }&quot;&gt;

        &lt;hellas-persia v-for=&quot;battle in history&quot;
        :key=&quot;battle.id&quot;
        :battle=&quot;battle&quot;
        :spanvalue=&quot;articleFonts.fontSize&quot;
        :measuringunit=&quot;measuringUnit&quot;
        @enlarge-text=&quot;articleFonts.fontSize++&quot;
        @decrease-text=&quot;articleFonts.fontSize--&quot;
        @font-family=&quot;fontFamily()&quot;
        @font-style=&quot;fontStyle()&quot;
        @color=&quot;color()&quot;
        @font-weight=&quot;fontWeight()&quot;
        @measuring-unit=&quot;measureUnit()&quot;
        &gt;
        &lt;/hellas-persia&gt;
      &lt;/div&gt;
    </code>
    <h6>Vue code</h6>
    <code>
      Vue.component(&quot;hellas-persia&quot;, {
        props: [&quot;battle&quot;, &quot;spanvalue&quot;, &quot;measuringunit&quot;],
        template: &grave;
          &lt;article style=&quot;margin-bottom:30px;&quot;&gt;
            &lt;hr&gt;
            &lt;img :src=&quot;battle.imageUrl&quot; style=&quot;width: 250px; float: right; padding: 10px;&quot;/&gt;
            &lt;h3 style=&quot;color: black;&quot;&gt;Battle { {battle.title} }&lt;/h3&gt;
            &lt;p&gt;{ {battle.fact} }&lt;/p&gt;
            &lt;h6&gt;Greek Force: { {battle.armyGr} }&lt;/h6&gt;
            &lt;h6&gt;Persian Force: { {battle.armyPr} }&lt;/h6&gt;
            &lt;h6&gt;Outcome: { {battle.outcome} }&lt;/h6&gt;

            &lt;hr&gt;
            &lt;div class=&quot;buttonsSelects&quot;&gt;
              &lt;div class=&quot;divBtnSlctUnt&quot;&gt;
                &lt;h6&gt;
                  &lt;b&gt;Modify font size -
                    &lt;span&gt;{ {spanvalue} }{ {measuringunit} }&lt;/span&gt;
                  &lt;/b&gt;
                &lt;/h6&gt;
                &lt;button @click=&quot;$emit(&apos;enlarge-text&apos;)&quot;&gt;+&lt;/button&gt;
                &lt;button @click=&quot;$emit(&apos;decrease-text&apos;)&quot;&gt;-&lt;/button&gt;
                &lt;select class=&quot;&quot; name=&quot;&quot; @change=&quot;$emit(&apos;measuring-unit&apos;)&quot;&gt;
                  &lt;option value=&quot;px&quot;&gt;px&lt;/option&gt;
                  &lt;option value=&quot;em&quot;&gt;em&lt;/option&gt;
                  &lt;option value=&quot;cm&quot;&gt;cm&lt;/option&gt;
                  &lt;option value=&quot;vh&quot;&gt;vh&lt;/option&gt;
                  &lt;option value=&quot;vw&quot;&gt;vw&lt;/option&gt;
                &lt;/select&gt;
              &lt;/div&gt;

              &lt;div class=&quot;divBtnSlctUnt&quot;&gt;
              &lt;h6&gt;&lt;b&gt;Modify font family&lt;/b&gt;&lt;/h6&gt;
              &lt;select class=&quot;&quot; name=&quot;&quot; @change=&quot;$emit(&apos;font-family&apos;)&quot;&gt;
                &lt;option value=&quot;Arial&quot;&gt;Arial&lt;/option&gt;
                &lt;option value=&quot;Verdana&quot;&gt;Verdana&lt;/option&gt;
                &lt;option value=&quot;Tahoma&quot;&gt;Tahoma&lt;/option&gt;
                &lt;option value=&quot;Times New Roman&quot;&gt;Times New Roman&lt;/option&gt;
                &lt;option value=&quot;Serif&quot;&gt;Serif&lt;/option&gt;
              &lt;/select&gt;

              &lt;/div&gt;

              &lt;div class=&quot;divBtnSlctUnt&quot;&gt;
                &lt;h6&gt;Modify font style&lt;/h6&gt;
                &lt;select class=&quot;&quot; name=&quot;&quot; @change=&quot;$emit(&apos;font-style&apos;)&quot;&gt;
                  &lt;option value=&quot;normal&quot;&gt;normal&lt;/option&gt;
                  &lt;option value=&quot;italic&quot;&gt;italic&lt;/option&gt;
                  &lt;option value=&quot;oblique&quot;&gt;oblique&lt;/option&gt;
                  &lt;option value=&quot;initial&quot;&gt;initial&lt;/option&gt;
                &lt;/select&gt;
              &lt;/div&gt;

              &lt;div class=&quot;divBtnSlctUnt&quot;&gt;
                &lt;h6&gt;Modify font weight&lt;/h6&gt;
                &lt;select class=&quot;&quot; name=&quot;&quot; @change=&quot;$emit(&apos;font-weight&apos;)&quot;&gt;
                  &lt;option value=&quot;normal&quot;&gt;normal&lt;/option&gt;
                  &lt;option value=&quot;bold&quot;&gt;bold&lt;/option&gt;
                  &lt;option value=&quot;bolder&quot;&gt;bolder&lt;/option&gt;
                  &lt;option value=&quot;lighter&quot;&gt;lighter&lt;/option&gt;
                &lt;/select&gt;
              &lt;/div&gt;

              &lt;div class=&quot;divBtnSlctUnt&quot;&gt;
                &lt;h6&gt;Modify font color&lt;/h6&gt;
                &lt;select class=&quot;&quot; name=&quot;&quot; @change=&quot;$emit(&apos;color&apos;)&quot;&gt;
                  &lt;option value=&quot;black&quot;&gt;black&lt;/option&gt;
                  &lt;option value=&quot;brown&quot;&gt;brown&lt;/option&gt;
                  &lt;option value=&quot;green&quot;&gt;green&lt;/option&gt;
                  &lt;option value=&quot;red&quot;&gt;red&lt;/option&gt;
                  &lt;option value=&quot;yellow&quot;&gt;yellow&lt;/option&gt;
                  &lt;option value=&quot;blue&quot;&gt;blue&lt;/option&gt;
                &lt;/select&gt;
              &lt;/div&gt;
            &lt;/div&gt;


          &lt;/article&gt;
        &grave;
      });
    </code>
  </div>
</div>

<script>
  Vue.component("hellas-persia", {
  props: ["battle", "spanvalue", "measuringunit"],
  template: `
    <article style="margin-bottom:30px;">
      <hr>
      <img :src="battle.imageUrl" style="width: 250px; float: right; padding: 10px;"/>
      <h3 style="color: black;">Battle {{battle.title}}</h3>
      <p>{{battle.fact}}</p>
      <h6>Greek Force: {{battle.armyGr}}</h6>
      <h6>Persian Force: {{battle.armyPr}}</h6>
      <h6>Outcome: {{battle.outcome}}</h6>

      <hr>
      <div class="buttonsSelects">
        <div class="divBtnSlctUnt">
          <h6>
            <b>Modify font size -
              <span>{{spanvalue}}{{measuringunit}}</span>
            </b>
          </h6>
          <button @click="$emit('enlarge-text')">+</button>
          <button @click="$emit('decrease-text')">-</button>
          <select class="" name="" @change="$emit('measuring-unit')">
            <option value="px">px</option>
            <option value="em">em</option>
            <option value="cm">cm</option>
            <option value="vh">vh</option>
            <option value="vw">vw</option>
          </select>
        </div>

        <div class="divBtnSlctUnt">
        <h6><b>Modify font family</b></h6>
        <select class="" name="" @change="$emit('font-family')">
          <option value="Arial">Arial</option>
          <option value="Verdana">Verdana</option>
          <option value="Tahoma">Tahoma</option>
          <option value="Times New Roman">Times New Roman</option>
          <option value="Serif">Serif</option>
        </select>

        </div>

        <div class="divBtnSlctUnt">
          <h6>Modify font style</h6>
          <select class="" name="" @change="$emit('font-style')">
            <option value="normal">normal</option>
            <option value="italic">italic</option>
            <option value="oblique">oblique</option>
            <option value="initial">initial</option>
          </select>
        </div>

        <div class="divBtnSlctUnt">
          <h6>Modify font weight</h6>
          <select class="" name="" @change="$emit('font-weight')">
            <option value="normal">normal</option>
            <option value="bold">bold</option>
            <option value="bolder">bolder</option>
            <option value="lighter">lighter</option>
          </select>
        </div>

        <div class="divBtnSlctUnt">
          <h6>Modify font color</h6>
          <select class="" name="" @change="$emit('color')">
            <option value="black">black</option>
            <option value="brown">brown</option>
            <option value="green">green</option>
            <option value="red">red</option>
            <option value="yellow">yellow</option>
            <option value="blue">blue</option>
          </select>
        </div>
      </div>


    </article>
  `
  });

  var componentBasics4 = new Vue({
    el: "#componentBasics4",
    data: {
      measuringUnit: "px",
      articleFonts: {
        fontStyle: "normal",
        fontSize: 16,
        fontFamily: "Arial",
        fontWeight: "normal",
        color: "black"
      },
      history: [
        {
          id: 1,
          title: "Marathon",
          fact: "The Battle of Marathon took place in 490 BC, during the first Persian invasion of Greece. It was fought between the citizens of Athens, aided by Plataea, and a Persian force commanded by Datis and Artaphernes. The battle was the culmination of the first attempt by Persia, under King Darius I, to subjugate Greece.",
          armyGr: 11000,
          armyPr: 126000,
          outcome: "Greek victory",
          imageUrl: "https://upload.wikimedia.org/wikipedia/commons/4/42/Battle_of_Marathon_Initial_Situation.png"
        },
        {
          id: 2,
          title: "Thermopylae",
          fact: "The Battle of Thermopylae (/θərˈmɒpɪliː/ thər-MOP-i-lee; Greek: Μάχη τῶν Θερμοπυλῶν, Máchē tōn Thermopylōn) was fought between an alliance of Greek city-states, led by King Leonidas of Sparta, and the Persian Empire of Xerxes I over the course of three days, during the second Persian invasion of Greece. It took place simultaneously with the naval battle at Artemisium, in August or September 480 BC, at the narrow coastal pass of Thermopylae ('The Hot Gates'). The Persian invasion was a delayed response to the defeat of the first Persian invasion of Greece, which had been ended by the Athenian victory at the Battle of Marathon in 490 BC. By 480 BC Xerxes had amassed a huge army and navy, and set out to conquer all of Greece. The Athenian politician and general Themistocles had proposed that the allied Greeks block the advance of the Persian army at the pass of Thermopylae, and simultaneously block the Persian navy at the Straits of Artemisium.",
          armyGr: 7000,
          armyPr: 150000,
          outcome: "Persian victory",
          imageUrl: "https://upload.wikimedia.org/wikipedia/commons/e/ec/Thermopylae_map_480bc.png"
        },
        {
          id: 3,
          title: "Salamis",
          fact: "The Battle of Salamis was a naval battle fought between an alliance of Greek city-states under Themistocles and the Persian Empire under King Xerxes in 480 BC which resulted in a decisive victory for the outnumbered Greeks. The battle was fought in the straits between the mainland and Salamis, an island in the Saronic Gulf near Athens, and marked the high-point of the second Persian invasion of Greece.",
          armyGr: 371,
          armyPr: 700,
          outcome: "Greek victory",
          imageUrl: "https://upload.wikimedia.org/wikipedia/commons/2/2e/Battle_of_salamis.png"
        },
        {
          id: 4,
          title: "Plataea",
          fact: "The Battle of Plataea was the final land battle during the second Persian invasion of Greece. It took place in 479 BC near the city of Plataea in Boeotia, and was fought between an alliance of the Greek city-states, and the Persian Empire of Xerxes I.",
          armyGr: 80000,
          armyPr: 120000,
          outcome: "Greek victory",
          imageUrl: "https://upload.wikimedia.org/wikipedia/commons/e/e1/Battle_of_Plataea_part_2.PNG"
        },
      ]
    }, //End of data
    methods: {
      fontFamily(){
        this.articleFonts.fontFamily = event.path[0].value;
      },
      fontStyle(){
        this.articleFonts.fontStyle = event.path[0].value;
      },
      measureUnit(){
        this.measuringUnit = event.path[0].value;
      },
      fontWeight(){
        this.articleFonts.fontWeight = event.path[0].value;
      },
      color(){
        this.articleFonts.color = event.path[0].value;
      }
    }
  });
</script>






<div id="componentBasics5">
  <h2>Content distribution with slots</h2>
  <p>
    The <code>&lt;slot&gt;</code> tag is a special tag that can be used to pass additional
      html in the vue component directly within the html document.
  </p>
  <div class="jumbotron">
    <h4>Example</h4>
    <p>
      In the following example, the content after the ":" is entered directly in the html.
    </p>
    <slot-magic><b>Hello there, how is everything?</b></slot-magic>
    <h6>html code</h6>
    <code>&lt;slot-magic&gt;&lt;b&gt;Hello there, how is everything?&lt;/b&gt;&lt;/slot-magic&gt;</code>
    <h6>Vue code</h6>
    <code>
      Vue.component("slot-magic", {
        template: "&lt;p&gt;I am a paragraph. The value in &lt;code&gt;&amp;lt;slot&amp;gt;&lt;/code&gt; is: &lt;slot&gt;&lt;/slot&gt;&lt;/p&gt;&quot;"
      });
    </code>
  </div>
</div>

<script>
  Vue.component("slot-magic", {
    template: "<p>I am a paragraph. The value in <code>&lt;slot&gt;</code> is: <slot></slot></p>"
  });

  var componentBasics5 = new Vue({
    el: "#componentBasics5"
  });
</script>






<div id="componentBasics6">
  <h2>Dynamic components</h2>
  <p>
    In the event that we want to render different components dynamically, Vue offers
    a special tag called <code>&lt;component&gt;</code>. This tag can be used in
    the html with an attribute called <code>is</code>. The <code>is</code> attribute
    is binded to the <code>&lt;component&gt;</code> tag and works similar to the
    <code>v-show</code> directive. That means that the component renders only if
    the condition that the <code>is</code> equals to is the same like the name of
    the component's tag name.
  </p>

  <div class="jumbotron">
    <h4>Example</h4>
    <p>
      In the following example, the buttons are changing a data property value in
      the root Vue instance. The <code>&lt;component&gt;</code> tag's <code>is</code>
      directive is connected to a computed property in the root vue instance. The
      computed property is returning the value that changes based on the button clicks.
      This value equals to the different tag names each component has been assigned
      to and therefore, they only render when there is a value match.
    </p>
    <button class="buttonComponentTab" @click="selectedComponent = 'JavaScript'">JavaScript</button>
    <button class="buttonComponentTab" @click="selectedComponent = 'Vue'">Vue</button>
    <button class="buttonComponentTab" @click="selectedComponent = 'jQuery'">jQuery</button>
    <component :is="activeComponent" class="componentTabs"></component>
    <h6>html code</h6>
    <code>
      &lt;button class=&quot;buttonComponentTab&quot; @click=&quot;selectedComponent = &apos;JavaScript&apos;&quot;&gt;JavaScript&lt;/button&gt;
      &lt;button class=&quot;buttonComponentTab&quot; @click=&quot;selectedComponent = &apos;Vue&apos;&quot;&gt;Vue&lt;/button&gt;
      &lt;button class=&quot;buttonComponentTab&quot; @click=&quot;selectedComponent = &apos;jQuery&apos;&quot;&gt;jQuery&lt;/button&gt;
      &lt;component :is=&quot;activeComponent&quot; class=&quot;componentTabs&quot;&gt;&lt;/component&gt;
    </code>

    <h6>Vue code</h6>
    <code>
      Vue.component(&quot;tab-javascript&quot;, {
        template: &grave;
          &lt;div id=&quot;divJavaScript&quot;&gt;This is the JavaScript tab&lt;/div&gt;
        &grave;
      });

      Vue.component(&quot;tab-vue&quot;, {
        template: &grave;
          &lt;div id=&quot;divVue&quot;&gt;This is the Vue tab&lt;/div&gt;
        &grave;
      });

      Vue.component(&quot;tab-jquery&quot;, {
        template: &grave;
          &lt;div id=&quot;divjQuery&quot;&gt;This is the jQuery tab&lt;/div&gt;
        &grave;
      });
    </code>
  </div>
  <h2>Dom parsing caveats</h2>
  <p>
    The advancage of the <code>is</code> directive is that it can also be used with
    other html tags in order to property render Vue components. Some HTML elements
    do not accept and random Vue components. For example, we cannot add a Vue
    component inside a <code>table</code> tag, unless the template of the component
    has the right elements to match the <code>table</code>. Alternatively, we can
    use the <code>is</code> attribute to connect the Vue component to a child element
    like a <code>tr</code>.
  </p>
</div>


<script>
  Vue.component("tab-javascript", {
    template: `
      <div id="divJavaScript">This is the JavaScript tab</div>
    `
  });

  Vue.component("tab-vue", {
    template: `
      <div id="divVue">This is the Vue tab</div>
    `
  });

  Vue.component("tab-jquery", {
    template: `
      <div id="divjQuery">This is the jQuery tab</div>
    `
  });


  var componentBasics6 = new Vue({
    el: "#componentBasics6",
    data: {
      selectedComponent: "JavaScript"
    }, //End of data
    computed: {
      activeComponent: function() {
        console.log("fired");
        return "tab-" + this.selectedComponent.toLowerCase();
      }
    }
  });
</script>




<a href="./008-form_input_bindings.html">Previous - Form Input Bindings</a> <a href="./010-component_registration.html">Next - Component Registration</a>

</body>
</html>
