body {
  padding: 15px;
}

.textDiv {
  width: 600px;
}

.card {
  width: 70%;
}

.jumbotron{
  padding: 28px;
}

pre {
  color: #e83e8c;
  font-size: 87.5%;
  margin: 0;
  word-break: break-word;
}

.divActiveClass{
  background-color: white;
  padding: 5px;
}
