<html>
    <head>
        <title>Templates and template engines</title>
        <link rel="stylesheet" href="assets/style.css" type="text/css" />
    </head>
    <body>
        <h1>Hello world from the index.ejs file for I4</h1>
    </body>
</html>