<html>
    <head>
        <title>Templates and template engines</title>
        <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    </head>
    <body>
        <h1>Person of interest: <%= ID %></h1>
    </body>
</html>